.navbar{
    border-radius: 5px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel{
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-button{
    background-color: #FF136F;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 30px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.catagory h1{
    color: white;
}
.catagory img{
    width: 100px;
}
.container{
    margin-bottom: 60px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border: none;
    background-color: white;
}
#contact-us{
height: 300px;
}
#contact-us h6{
    color: gray;
}
footer{
    text-align: center;
}